section.boxes {
    display: flex;
    justify-content: space-around;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section.boxes {
        flex-direction: column;
    }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    section.boxes {
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    section.boxes {
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}